<form [formGroup]="form">   
  <div class="form-group">
      <label for="oldpassword">Old Password</label>
      <input formControlName = "oldpassword"          
          type="password" 
          class="form-control">  
  <div *ngIf="(oldpassword.touched && oldpassword.invalid)" class="alert alert-danger">
    <div *ngIf="oldpassword.errors.required"> Old password is required
    </div> 
    <div *ngIf="oldpassword.errors.shouldNotBeOld"> password do not match
    </div>  
  </div>
</div> 
  <div class="form-group">
      <label for="newpassword">New Password</label>
      <input formControlName = "newpassword"          
          type="password" 
          class="form-control">  
  <div *ngIf="(newpassword.touched && newpassword.invalid)" class="alert alert-danger">
    <div *ngIf="newpassword.errors.required"> New password is required
    </div> 
  </div>
</div> 
  <div class="form-group">
    <label for="confirmpassword">New Password</label>
    <input formControlName = "confirmpassword"       
        type="password" 
        class="form-control">
      <div *ngIf="(confirmpassword.touched && confirmpassword.invalid)" class="alert alert-danger">
        <div *ngIf="confirmpassword.errors.required"> Confirm Password is required
        </div>              
      </div>     
</div>
  <button class="btn btn-primary" type="submit">Change Password</button>
</form>